.background {
  background-image: url('../homepage/img/background.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: rgba(210, 255, 220, 0.85);
  padding: 30px;
  border-radius: 30px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.text-section {
  text-align: center;
  margin-bottom: 30px;
}

.text-section h1,
.text-section p {
  margin: 5px 0;
}

.mood-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mood-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
}

.mood-item img {
  width: 60px;
  height: 60px;
}

.mood-item p {
  font-weight: bold;
}

.homepage-button-calendar {
  background-color: #b0d0ab;
  color: black;
  max-width: 120px;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 25px;
  cursor: pointer;
  margin: 20px auto 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.homepage-button-calendar:hover {
  background-color: #569d76;
}

.homepage-image {
  width: 100%;
  height: auto;
  display: block;
}
