.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-calendar-content {
  padding: 10px;
  width: 100%;
  margin-bottom: 20%;
}

.block-calendar-content table {
  table-layout: fixed;
  border-spacing: 10px;
  width: 100%
}

.calendar-page-calendar {
  margin-bottom: 5%;
}

.calendar-page-options {
  display: flex;
  gap: 10px;
}

.calendar-page-options>* {
  flex: 1 0 0
}

.next {
  background-color: none;
  display: flex;
  justify-content: space-around;
  padding-right: 15px;
  width: 100%;
  height: auto;
}

.next img {
  display: flex;
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
}


.homepage-button-vstupte {
  background-color: #b0d0ab;
  color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 25px;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
}
