header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.block-calendar-content {
  background-image: url('./../../../public/backround.svg');
  background-size: cover;
  background-position: center;
}

.block-calendar-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.calendar-field {
  aspect-ratio: 1;
  background-color: #cde6c9;
  border-radius: 50%;
  cursor: pointer;
}

.homepage-button-vstupte {
  background-color: #b0d0ab;
  color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 25px;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
}
