.flowerButton {
  aspect-ratio: 1;
  background-color: #cde6c9;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  border: none;
  padding: 10%;
  width: 100%;
}

.flowerButton img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
