@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Syne';
  min-height: 100vh;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  color: black;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  height: fit-content;
}

.block-alt {
  background-color: rgba(210, 255, 220, 0.85);
}


h1 {
  font-family: "Syne";
  font-size: 40px;
  text-align: center;
  color: black;
}

p {
  font-family: "Syne";
}
